@import "tailwindcss";

@theme {
  --color-primary: #00bfff;
  --font-poppins: "Poppins", sans-serif;
}

@layer components {
  .containerclass {
    @apply w-[90%] mx-auto max-w-[1200px];
  }
}

.custom-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
